#container	{	
	font-family: Arial;
}
body{
	background-color: darkblue;
}

#logo {
	height: 200px;
	widows: 200px;
}

#container{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
}